name: CI

on:
  push:
    branches: [ main ]  

jobs:
  build:
    runs-on: "ubuntu-latest"
    container: bradmccoydev/terraform-plan-validator:latest
    env:
      ARM_CLIENT_ID: 58445e81-389a-46be-9b20-f98610b37262
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: f7b8d1c4-c52f-4aaf-8c24-860c2b1c9d0c
      ARM_TENANT_ID: 1543c9b8-a1d1-4f26-bffb-1368aaeb582e
      PATH_TO_TF_FILES: ./src
      
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Terraform Init
      run: |-
        cd $PATH_TO_TF_FILES
        terraform init
        
    - name: Generate TFSEC report
      run: |-
        cd $PATH_TO_TF_FILES
        tfsec . 
        
    - name: Terraform Plan
      run: |-
        cd $PATH_TO_TF_FILES
        terraform plan -var-file=deployment/demo.tfvars -out $GITHUB_SHA.tfplan

    - name: Terraform Validate
      id: terraformValidate
      run: |-
        cd $PATH_TO_TF_FILES
        terraform show -json $GITHUB_SHA.tfplan > $GITHUB_SHA.json
        cp /terraform-plan-validator/app.env ./app.env
        cp /terraform-plan-validator/opa-azure-policy.rego ./opa-azure-policy.rego

        VALIDATION_PASSED=$(terraform-plan-validator check -p "$GITHUB_SHA.json" -c "azure")
        SCORE=$(terraform-plan-validator opascore -p "$GITHUB_SHA.json" -c "azure")
        
        echo "::set-output name=VALIDATION_PASSED::$VALIDATION_PASSED"
        echo "Validation result: $VALIDATION_PASSED"
        echo "OPA score: $SCORE"
        rm $GITHUB_SHA.json

    - name: Terraform Auto Apply
      if: steps.terraformValidate.outputs.VALIDATION_PASSED == 'true'
      run: |-
        cd $PATH_TO_TF_FILES
        TF_PLAN="$GITHUB_SHA.tfplan"
        echo $TF_PLAN
        # terraform apply $TF_PLAN 
        rm $TF_PLAN

    - name: Terraform Manual Apply
      if: steps.terraformValidate.outputs.VALIDATION_PASSED == 'false'
      run: |-
        cd $PATH_TO_TF_FILES
        TF_PLAN="$GITHUB_SHA.tfplan"
        echo $TF_PLAN
        # terraform apply $TF_PLAN 
        rm $TF_PLAN
